include LICENSE.txt
include CHANGELOG.txt
include README.txt
include README-DEMOS.txt
include MANIFEST.in
include VisionEgg.cfg
include src/*.c
include src/*.m
include src/*.h
include lib3ds/*
include doc/reference/html/*
include doc/reference/epydoc
include doc/reference/make_epy.sh
include doc/visionegg/*
include doc/visionegg.tex
include doc/visionegg.pdf
include doc/index.html
include doc/BUILD.txt
include demo/*.py
include demo/*.pyw
include demo/README.txt
include demo/daq/*.py
include demo/tcp/*.py
include demo/GUI/*.py
include demo/Pyro/*.py
include test/*.py
include data/panorama.jpg
include data/spiral.png
include data/az_el.png
include data/visionegg.bmp
include data/visionegg.tif
include data/water.mov
include check-config.py