include LICENSE.txt
include CHANGELOG.txt
include README.txt
include VisionEgg.cfg
include src/*.c
include src/*.m
include lib3ds/*
include doc/reference/pydoc.py
include doc/reference/make.sh
include demo/*.py
include demo/*.pyw
include demo/README.txt
include demo/daq/*.py
include demo/tcp/*.py
include demo/GUI/*.py
include demo/Pyro/*.py
include test/*.py
include data/panorama.jpg
include data/az_el.png
include data/visionegg.bmp
include data/visionegg.tif
include check-config.py