include LICENSE.txt
include CHANGELOG.txt
include README.txt
include README-DEMOS.txt
include MANIFEST.in
include VisionEgg/*.pyx
include VisionEgg/*.c
include VisionEgg/*.m
include VisionEgg/*.h
include doc/reference/html/*
include doc/reference/epydoc
include doc/reference/make_epy.sh
include doc/visionegg/*
include doc/visionegg.tex
include doc/visionegg.pdf
include doc/index.html
include doc/BUILD.txt
include demo/*.py
include demo/*.pyw
include demo/README.txt
include demo/daq/*.py
include demo/tcp/*.py
include demo/GUI/*.py
include demo/Pyro/*.py
include test/*.py
include VisionEgg/data/panorama.jpg
include VisionEgg/data/spiral.png
include VisionEgg/data/az_el.png
include VisionEgg/data/visionegg.bmp
include VisionEgg/data/visionegg.tif
include VisionEgg/data/water.mov
include VisionEgg/VisionEgg.cfg
include check-config.py
