include LICENSE.txt
include CHANGELOG.txt
include README.txt
include VisionEgg.cfg
include src/*.c
include doc/*.pdf
include doc/*.html
include demo/*.py
include demo/README.txt
include demo/calibrate/*.py
exclude demo/calibrate/dac_resolution.py
include demo/calibrate/README.txt
include demo/daq/*.py
exclude demo/daq/tcp/*
include demo/tcp/README.txt
include demo/tcp/*.py
include demo/GUI/*.py
include demo/Pyro/*.py
exclude demo/Pyro/drum*.py
exclude demo/gamma.py
exclude demo/*_movie.py
include test/*.py
exclude test/texture_test_GUI.py
include data/panorama.jpg
include check-config.py